.ideas-container {
    width: 80%;
    max-width: 980px;
    margin: 32px auto;
    flex-direction: column;
}

.ideas-container header {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ideas-container header nav {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.ideas-container header nav li + li {
    margin-left: 16px;
}

.ideas-container header nav li a#init {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: black;
    transition: opacity 0.2s;
}

.ideas-container header nav li a#init:hover {
    opacity: 0.6;
    text-decoration: underline;
}

.ideas-container header nav li + li a {
   
    padding: 10px;

    background-color: #ff5E84;
    color: #fff;
    text-decoration: none;
    font-weight: bold;

    border: none;
    border-radius: 8px;


    transition: background-color 0.2;
}

.ideas-container header nav li + li a:hover{
    
    background-color: rgb(236, 59, 100);
    text-decoration: none;
}

.ideas-container section#title {
    margin-top: 48px;
    text-align: center;
}

.ideas-container section#title p {
    color: #777;
    font-size: 16px;
    font-weight: bold;  
}

.ideas-container section#title h1 {
    font-size: 32px;
}

.ideas-container main {
    width: 100%;
    max-width: 980px;
    margin-top: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.ideas-container main section#ideas {
    width: 100%;
    height: 234px;

    max-width: 480px;
    background-color: #fff;
    border-radius: 8px;
}

.ideas-container main section#ideas .idea {
    display: flex;
    padding: 20px;
}

.ideas-container main section#ideas .idea img {
    width: 40px;
    height: 40px;
    margin-right: 24px;
}

section#ideas .idea .content {
    font-size: 16px;
}

section#ideas .idea .content h3 {
    font-size: 18px;
}


section#ideas .idea .content p{
    color: #777;
}

section#ideas .idea .content .description {
    margin-bottom: 8px;
}

section#ideas .idea .content a {
    
    text-decoration: none;
    color: #ff5E84;
    font-weight: bold;
    transition: opacity 0.2s;
}

section#ideas .idea .content a:hover {
    opacity: 0.6;
    text-decoration: underline;
}




